# VSCode, Eclipse, and IntelliJ IDEA project files
.vscode
.settings
.classpath
.project
.idea

# Python virtual environments
env
build
python/uvl/__pycache__
python/uvl/*
!python/uvl/UVLCustomLexer.py

# Node.js
js/node_modules
js/package-lock.json

# Java build files
.antlr/
target/