name: Build and Deploy JS Parser

on:
  push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node
      uses: actions/setup-node@v1
      with:
          node-version: 19
          registry-url: https://registry.npmjs.org/
    
    - name: Install ANTLR4
      run: |
        make js_parser

    - name: Generate and Build Node Code
      run: cd js && npm install && npm run build-grammar

    - name: Publish npm package
      run: cd js && npm publish --access public
      env:
        NPM_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}